In [5]:
import pandas as pd

dataset = pd.read_csv("dataset.csv")

dataset.head()

   Height  Weight    Sports
0     168      65  Football
1     178      75   Cricket
2     157      65  Football
3     180      85   Cricket
4     189      90   Cricket